// Variables

// Restated Bootstrap Variables

$white:  #000000!default; /* #535F65 Contact color, Normal text, photo borders, lines, menu color, */
$my-default: rgb(100, 161, 100) !default; /* #b9ff7e */ /* Hover Over */
$gray-100: rgb(100, 161, 100)!default; /* #F3EA64 Subtitle, post names, copyright */
$gray-400: #010101 !default; /* #000000 Contact Us words */
$gray-600: #EFF3E9 !default; /* #FFF Home page words except read more */
$gray-700: #D6DCD7 !default;  /* #005AC5 Big titles, words in portifolio */
$gray-900:  #37762F !default;/* #40DDFF Footer, header, social media-icons, close */
$whitish: #D9DCD5 !default;
    
$primary: rgb(100, 161, 100) !default;     /* #0C94FE Whole Page background */
/* *****************************************************************/
$black: rgb(243, 1, 1) !default;    /* No use */
$blackish: rgb(243, 1, 1)!default; /* No use */
$gray-800: rgb(35, 173, 0) !default; /* No use */
$gray-500: rgb(0, 253, 232) !default; /* No use */
$gray-200: #ff0000 !default; /* NO use */
$gray-300: #e40f00 !default;/* No use */

/* ********************************************************************* */

$blackTeo: #000000;
